*{
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }
        a{
            text-decoration: none;
            color: black;
        }
        

        /* 헤더 */
        #header{
            width: 100%;
            height: 45px;
            border-bottom: 5px solid #f5f5f5;
            position: relative;
        }
        #header p{
            width: 200px;
            text-align: center;
            font-family: NotoSansKR;
            font-size: 15px;
            font-weight: bold;
            color: #2c2c2c;
            margin: 0px auto;
            padding: 10px;
        }
        #header svg{
            position: absolute;
            top: 9px;
            left: 9px;
        }

        /* 정렬 */
        #align{
            width: 330px;
            height: calc(100vh - 45px - 56px);
            /* 100 - 헤더 - 공통메뉴 */
            margin: 0 auto;
            position: relative;
        }

        /* 리스트 한상자 */
        .brand{
            position: relative;
            width: 100%;
            height: 76.2px;
            border-bottom: 1px solid #f5f5f5;
        }
        .brand .brand-img{
            border-bottom: 1px solid #f5f5f5;
            display: inline-block;
            width: 47px;
            height: 47px;
            background-color: #afafaf;
            border-radius: 50%;
            margin-top: 15px;
        }
        .brand .brand-name{
            position: absolute;
            display: inline-block;
            top: 28px;
            left: 62px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
        }

        /* 공통메뉴바 */
        .sticky{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 56px;
            background-color: #66bb6a;
        }
        .sticky div{
            display: inline-block;
            color: white;
            text-align: center;
            width: 20%;
            height: 100%;
            margin: 0;
            position: relative;
            font-size: 11px;
        }
        .sticky svg{
            /* position: absolute; */
            /* top: 6.3px; */
            /* left: 25px; */
            margin: auto 0;
            margin-top: 6.3px;
        }
        .sticky p{
            margin: auto 0;
            /* margin-top: 28.3px; */
            margin-top: 0px;
        }