/* @charset "UTF-8"; */


root{
	font-size: 8px;
}

.header {  /* header �κ� (������ ������, ������) */
	width: 100%;
	height: 50px;
	color:#ddd;
	background-color: #646464;
	font-family:MaruBuri-Regular;
		
}
.header h5{
	font-weight: 600;
}
.selectedHeader{
	background-color: #ddd;
	color:black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.logo{
	width:100%;
	max-height: 100px;
	object-fit:contain;
}

.line_none {
	text-decoration: none;
	color: #333333;
	font-size: 20px;
}

.line_none:hover {
	color: green;
}

.border-bot {
	border-bottom: 1px solid #ccc;
	
}

.center {
	margin: 0 auto;
	text-align: center;
}

#main-side{
	background-color: #fff;
	
}

.side-th{
	background-color: #ccc;	
	font-family: MaruBuri-Regular;
	
}


.button{
	background-color: rgba(255,255,255,0);
	
}
.button:hover{
	background-color: rgb(255,255,153);
	cursor:pointer;
	
}


.subIndex { /* �������� �ε���  */
	text-decoration: none;
	color: #333333;
}

.subIndex:hover {
	color: #005b21;
}

.mainBorder {
	border: 1px solid #005b21;
}

.white{
	background-color: white;
}

#mainContent { /* �������̺� ǥ�� */
	height: 700px;
	
	overflow: auto;
	resize: horizontal;
	background-color: #fff;
}

#subContent { /* �������̺� ǥ�� */
	background-color: #fff;
	min-height: 500px;
	border: 1px solid #ccc;
	
	overflow: auto;
	overflow-x: hidden;
	resize: vertical;
}

.content-side {  /* ���� �޴� (��� ���� ����) */
 background-color: #fff;
}



/* .index { 
	float: left;
} */
.cell {
	resize: horizontal;
	overflow: auto;
	width: 100%;
	height: 100%;
}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.nonBorderTextBox {
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

.hide {
	display: none;
}

.black {
	background-color: black;
}

.bot-bar {
	width: 60%;
	height: 2px;
	border-radius: 3px;
	margin: 0 auto;
}

.option {
	cursor: pointer;
}
.option h5{
	font-size: 1.1rem;
}

thead{
	background-color: rgb(0,108,46);
	color:white;
}




#talkBox {
	height: 150px;
}

footer {
	
	background-color: #545454;
	text-align: center;
	color: white;
}

footer h5 {
	padding: 50px;
}

.plus {
	display: inline-block;
	background-image: url("/resources/image/need/plus.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1.8em;
	width: 1.8em;
	margin: 0 auto;
	cursor: pointer;
	vertical-align: middle;
}

.plus:hover {
	transform: rotate(25deg);
}

.minus {
	display: inline-block;
	background-image: url("/resources/image/need/minus.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1.8em;
	width: 1.8em;
	margin: 0 auto;
	cursor: pointer;
	vertical-align: middle;
}

.minus:hover {
	transform: rotate(25deg);
}

#subContent h5 {
	font-size: 1.6em;
}

.mid {
	display: inline;
	vertical-align: middle;
}

.button-save {
	width: 120px;
	display: inline-block;
	padding: 15px 30px;
	box-sizing: content-box;
}

.selectedRow, .viewLabel {
	background-color: #eee;
}

.showbox {
	cursor: text;
	height: 100%;
	width: 100%;
}
.showbox-restraint{	
	
	cursor: text;
	overflow: hidden;
	max-width: 200px;
	min-width:80px;
	vertical-align: middle;
}

.showbox-restraint:hover, .date:focus {
	background-color: #fff;
}

.areaBox {
	border: 1px solid #ccc;
	min-height: 150px;
	width: 96%;
	margin: 0 auto;
}

.border-ccc {
	border-color: #ccc;
}

.inputDate:focus{
	background-color: white;
}
.small{
	font-size: 14px;
}
.updateArea{
	height: 36px;
}
.popImg{
	max-width: 235px;
	max-height: 235px;
}
.container-custom{
	background-color: #ddd;
}

.rightSide{
	background-color: #434343;
}
.side-nav-text{
	font-size: 17px;
	text-decoration: none;
	color: #ddd;
	overflow: hidden;
}
.side-nav-text:hover{
	
	color: white;
	overflow: visible;
}
.side-nav:hover {
	color: white;
	cursor:pointer;
	background-color: #545454;
}
.selectedNav{
	color: white;	
	background-color: #626262;
}

.left-side-th{
	color:#eee;	
	
}
	
.side-hr{
	color:#ccc;
}
.activeable{
	height: 100%;
	width: 60%;	
}

.viewImage{
	
	 object-fit: contain;
	 width: 200px;
}
.changeSize{
	width: auto;
	display: inline-block;
}