*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
#body{
    background-color: #66bb6a;
    height: 100vh;
    width: 100%;
    display: flex;
}
#logo{
    height: 111px;
    width: 70px;
    margin: auto;
}