<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="kr.co.gardener.admin.model.User" alias="User"/>		
		<typeAlias type="kr.co.gardener.admin.model.History" alias="History"/>
		<typeAlias type="kr.co.gardener.admin.model.SearchList" alias="SearchList"/>
		<typeAlias type="kr.co.gardener.admin.model.Bookmark" alias="Bookmark"/>
		<typeAlias type="kr.co.gardener.admin.model.Inven" alias="Inven"/>
		<typeAlias type="kr.co.gardener.admin.model.Location" alias="Location"/>
		<typeAlias type="kr.co.gardener.admin.model.Forest" alias="Forest"/>	
		<typeAlias type="kr.co.gardener.admin.model.Plant" alias="Plant"/>	
		<typeAlias type="kr.co.gardener.admin.model.PlantLevel" alias="PlantLevel"/>	
		<typeAlias type="kr.co.gardener.admin.model.object.Classify" alias="Classify"/>
		<typeAlias type="kr.co.gardener.admin.model.object.CertReason" alias="CertReason"/>
		<typeAlias type="kr.co.gardener.admin.model.object.Company" alias="Company"/>
		<typeAlias type="kr.co.gardener.admin.model.object.Cert" alias="Cert"/>
		<typeAlias type="kr.co.gardener.admin.model.object.Product" alias="Product"/>
		<typeAlias type="kr.co.gardener.admin.model.object.productCategoryList" alias="productCategoryList"/>
		<typeAlias type="kr.co.gardener.admin.model.Notice" alias="Notice"/>	
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/user.xml"/>
		<mapper resource="mybatis/login.xml"/>
		<mapper resource="mybatis/setting.xml"/>
		<mapper resource="mybatis/history.xml"/>
		<mapper resource="mybatis/searchList.xml"/>
		<mapper resource="mybatis/bookmark.xml"/>
		<mapper resource="mybatis/inven.xml"/>
		<mapper resource="mybatis/location.xml"/>
		<mapper resource="mybatis/forest.xml"/>
		<mapper resource="mybatis/plant.xml"/>
		<mapper resource="mybatis/plantLevel.xml"/>
		<mapper resource="mybatis/classify.xml"/>
		<mapper resource="mybatis/certReason.xml"/>
		<mapper resource="mybatis/company.xml"/>
		<mapper resource="mybatis/cert.xml"/>
		<mapper resource="mybatis/product.xml"/>	
		<mapper resource="mybatis/notice.xml"/>		
	</mappers>
</configuration>
